#meuBotao {
    position: absolute;
    top: 80px;
    left: 350px;
    transition: top 0.5s, left 0.5s; /* Adiciona uma transição suave de movimento */
  }

#sim{

    position: absolute;
    top: 80px;
    left: 150px;

}

h2{
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    width: 550px;
    height: 550px;
    background-color: reeccapurple;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,121,9,1) 38%, rgba(0,212,255,1) 100%);
}

div{

    background-color: rgb(238, 218, 236);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10%;
    border: 1px solid;

}

button{
    border-radius: 15%;
    box-shadow: inset;
    background-color:aquamarine;
    font-size: 20px;
    
}